<p>
    Stai provando ad accedere a Sistema Manutenzione?<br>
    C'e' stato un tentativo di accesso da un dispositivo sconosciuto.<br>
</p>
<div style="margin: 0px 35px 0px 35px; background-color: #cfcfcf; border-radius: 5px; padding: 5px; box-shadow: 0 0.5rem 1rem rgba(1, 1, 1, 0.15);">
    <p style="text-align: center;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABE0lEQVR4nO3aMUrEYBDF8R/Y2W1hoa29CF7BwgvoEWw9gI2lF9ADWNraiTarWwhewcJKOytL/UTIQhrjsolk17w/pBnCzDd88xjICyGEZWUV2zjAMS7wgDeMLSAb2MUhTnGFJ3ygNDy9MMIO9nGCSzzi/ZfDlj4a+R6FLazXYufVKMx72PJXjaxgE3s4qg56g2d8VgVea+9PY701Mmo5ClNKn41cd1ik10ZKGpEbKRmtBqIR0YhopIloRDQiGmnivqVOxh3mKjPUCEvDpOW133WYq8xQ40eyR2SPyB5pIhoRjYhGmohGRCOikUF8xP43tkJbo+dlkYyeNi7sWi12tqjW2yDM0EHY013/MHA7V8YQBswXmfZIX4+AWlMAAAAASUVORK5CYII=">
        <br><br>
        Desktop Windows 10<br>
        <b>{nomePC}</b>
    </p>
</div>
<p>
    Inserisci il codice di sicurezza sottostante per completare l'accesso:
</p>
<br>
<p style="text-align: center; border-style: solid; border-radius: 5px; border-color: #7d3ff8; border-width: 1px; padding: 20px; margin-left: 5px; margin-right: 5px;">
    <b style="font-size: 34px;">{codice}</b>
</p>
<br>
<br>

<p>
    Se non sei stato tu a richiedere l'accesso, clicca su uno dei link sottostanti per proteggere il tuo
    account:
</p>
<p style="text-align: center;">
    <a href="https://manutenzione.itisviola.it" style="display: inline-block; margin: 5px; padding: 7px; border-radius: 5px; background-color: #733de0; color: white; text-decoration: none; font-size: 15px; box-shadow: 0 0.5rem 1rem rgba(1, 1, 1, 0.15);">Rimuovi
        il tuo account da "<b>{nomePC}</b>"</a>
    <br>
    <a href="https://manutenzione.itisviola.it" style="display: inline-block; margin: 5px; padding: 7px; border-radius: 5px; background-color: #733de0; color: white; text-decoration: none; font-size: 15px; box-shadow: 0 0.5rem 1rem rgba(1, 1, 1, 0.15);">Cambia
        la tua password</a>
</p>