<p>
    Hai dimenticato la tua password?<br>
    E' stato richiesto il reset della password per questo account. ({emailToReset})<br>
    <br>
    <b>indirizzo ip: {ipAddress}</b><br>
    <br>
    Se sei stato tu puoi resettare la tua password cliccando sul link sottostante:
</p>
<p style="text-align: center;">
    <a href="https://manutenzione.itisviola.it" style="display: inline-block; margin: 5px; padding: 7px; border-radius: 5px; background-color: #733de0; color: white; text-decoration: none; font-size: 15px; box-shadow: 0 0.5rem 1rem rgba(1, 1, 1, 0.15);">Resetta la password</a>
</p>
<p>
    Se non sei stato tu a richiedere il reset della password, elimina questa email.
</p>
